<li class="field">
  <%= f.label :name, class: "form_items__label" %>
  <%= f.text_field :name, class: "form_items__content name" %>
</li>

<li class="field">
  <%= f.label :postal_code, class: "form_items__label" %>
  <%= f.text_field :postal_code, class: "form_items__content postal_code" %>
</li>

<li class="field">
  <%= f.label :address, class: "form_items__label" %>
  <%= f.text_field :address, class: "form_items__content address" %>
</li>

<li class="field">
  <%= f.label :self_introduction, class: "form_items__label" %>
  <%= f.text_area :self_introduction, class: "form_items__content self_introduciton" %>
</li>

<li class="field">
  <%= f.label :avatar, class: "form_items__label" %>
  <%= f.file_field :avatar, class: "form_items__content avatar" %>
</li>
