<h2 class="title user_edit_title"><%= t('.title', resource: resource.model_name.human) %></h2>

<div class="form_container">

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <ul class="form_items">

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <li><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></li>
      <% end %>

      <%= render 'devise/registrations/profile_fields', f: f %>
      <% if @user.attributes['provider'] != 'github' %>
      <li class="field">
        <div class="form_items__label">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <i><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></i>
          <% end %>
        </div>
        <div class="form_items__content">
          <%= f.password_field :password, autocomplete: "new-password" %>
        </div>
      </li>
      <div class="form_items__footnote">
        <i>(<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)</i>
      </div>

      <li class="field">
        <div class="form_items__label">
          <%= f.label :password_confirmation %>
        </div>
        <div class="form_items__content">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </li>

      <li class="field">
        <div class="form_items__label">
          <%= f.label :current_password %>
        </div>
        <div class="form_items__content">
          <%= f.password_field :current_password, autocomplete: "current-password" %>
        </div>
      </li>

      <li class="form_items__footnote">
        <i>(<%= t('views.registrations.password_change_needs_current_password') %>)</i>
      </li>
      <% end %>
    </ul>

    <div class="actions">
      <%= link_to t('devise.shared.links.back'), :back, class: "btn white_btn" %>
      <%= f.submit t('.update'), class: "btn orange_btn form_btn" %>
    </div>
  <% end %>
    <div class="actions">
      <h3 hidden><%= t('.cancel_my_account') %></h3>
      <p hidden><%= t('.unhappy') %></p>
      <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete, class: "btn red_btn" %>
    </div>
</div>
