<!-- HEAD-->
<h2 class="title user_new_title"><%= t('.sign_up') %></h2>
<div class="form_container">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

    <div class="form_items">
      <div class="field">
        <%= f.label :email, class: "form_items__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_items__content" %>
      </div>

      <%= render 'devise/registrations/profile_fields', f: f %>

      <div class="field">
        <div class="form_items__label">
          <%= f.label :password %>
          <% if @minimum_password_length %>
            <i><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></i>
          <% end %>
        </div>
        <%= f.password_field :password, autocomplete: "new-password", class: "form_items__content" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "form_items__label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form_items__content" %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit t('.sign_up'), class: 'btn orange_btn' %>
    </div>
  <% end %>

  <div class="actions">
    <%= render "devise/shared/links" %>
  </div>

</div>
