<h2 class="title user_show_title">
  <%= t('views.common.title_show', name: User.model_name.human) %>
</h2>

<div class="show">
  <p class="show_picture">
  </p>

  <ul class="show_items">
    <li class="show_item">
      <div class="show_item__label"><%= User.human_attribute_name(:email) %></div>
      <div class="show_item__content"><%= @user.email %></div>
    </li>
    <li class="show_item">
      <div class="show_item__label"><%= User.human_attribute_name(:name) %></div>
      <div class="show_item__content"><%= @user.name %></div>
    </li>
    <li class="show_item">
      <div class="show_item__label"><%= User.human_attribute_name(:postal_code) %></div>
      <div class="show_item__content"><%= @user.postal_code %></div>
    </li>
    <li class="show_item">
      <div class="show_item__label"><%= User.human_attribute_name(:address) %></div>
      <div class="show_item__content"><%= @user.address %></div>
    </li>
  </ul>
</div>

<div class="actions">
  <%= link_to t('views.common.back'), :back, class: "btn white_btn" %>
  <% if current_user == @user %>
    <%= link_to t('views.common.edit'), edit_user_registration_path, class: "btn orange_btn" %>
  <% end %>
</div>
