<h2 class="title user_edit_title"><%= t('.change_your_password') %></h2>

<div class="form_container">

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form_items">

      <div class="field">
        <div class="form_items__label">
          <%= f.label :password, t('.new_password') %>
          <% if @minimum_password_length %>
            <i><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></i>
          <% end %>
        </div>
        <div class="form_items__content">
          <%= f.password_field :password, autofocus: true, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="field">
        <div class="form_items__label">
          <%= f.label :password_confirmation, t('.confirm_new_password') %><br />
        </div>
        <div class="form_items__content">
          <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
        </div>
      </div>

      <div class="actions">
        <%= f.submit t('.change_my_password'), class: "btn orange_btn form_btn" %>
      </div>

    </div>
  <% end %>

  <div class="actions">
    <%= render "devise/shared/links" %>
  </div>

</div>
