<h1 class="title small_title show_title">
  <%= @book.title %>
</h1>

<div class="show">

  <p class="show_picture">
    <%= image_tag(@book.picture_url) if @book.picture.present? %>
  </p>

  <ul class="show_items">
    <li class="show_item">
      <%= @book.memo %>
    </li>
    <li class="show_item">
      <strong><%= Book.human_attribute_name(:author) %>:</strong>
      <%= @book.author %>
    </li>
  </ul>

</div>
<div class="actions">
  <%= link_to t('views.common.edit'), edit_book_path(@book), { class: "btn orange-btn" } %>
  <%= link_to t('views.common.back'), books_path, { class: "btn white-btn" } %>
</div>