<h2 class="title session_new_title"><%= t('.sign_in') %></h2>
<div class="form_container">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <ul class="form_items">
      <li class="field">
        <%= f.label :email, class: "form_items__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form_items__content" %>
      </li>
      <li class="field">
        <%= f.label :password, class: "form_items__label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form_items__content" %>
      </li>
    </ul>
      <% if devise_mapping.rememberable? %>
        <div class="rememberme">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
    <div class="actions">
      <%= f.submit t('.sign_in'), class: 'btn orange_btn' %>
    </div>
  <% end %>

  <div class="actions">
    <%= render "devise/shared/links" %>
  </div>
</div>
