<h2 class="title report_show_title">
  <%= @report.title %>
</h2>

<div class="show">
  <div class="show_picture show_picture__report">
    <div class="show_item show_item__report">
      <%= image_tag @report.user.avatar.variant(gravity: :center, resize_to_fill: [60, 60], crop:"60x60+0+0").processed if @report.user.avatar.attached? %>
    </div>
  </div>

  <ul class="show_items show_items__report">
    <li class="show_item show_item__gray">
      <%= t('views.reports.created_by', date: l(@report.created_at, format: :long), name: @report.user.name) %>
    </li>
    <li class="show_item show_item__textarea">
      <%= simple_format(@report.content, class: "show_item__paragraph") %>
    </li>
  </ul>
</div>
<div class="actions">
  <%= link_to t('views.common.back'), :back, class: "btn white_btn" %>
  <% if @report.user == current_user %>
    <%= link_to t('views.common.edit'), edit_report_path(@report), class: "btn orange_btn" %>
  <% end %>
</div>

<%= render 'comments/show', writable: @report %>
