<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <ul class="navbar-items">
        <% if user_signed_in? %>
          <li class="navbar-item"><strong><%= current_user.email %></strong></li>
          <li class="navbar-item"><%= link_to t('views.users.edit'), edit_user_registration_path, class: 'navbar-link' %></li>
          <li class="navbar-item"><%= link_to t('views.users.index'), users_path, class: 'navbar-link' %></li>
          <li class="navbar-item"><%= link_to t('views.users.logout'), destroy_user_session_path, method: :delete, class: 'navbar-link'  %></li>
          <li class="navbar-item"><%= link_to t('views.common.home'), books_path, class: 'navbar-link' %></li>
        <% else %>
          <li class="navbar-item"><%= link_to t('views.users.signup'), new_user_registration_path, class: 'navbar-link'  %> |</li>
          <li class="navbar-item"><%= link_to t('views.users.login'), new_user_session_path, class: 'navbar-link'  %></li>
        <% end %>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>
