<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">

      <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
      <% end %>

      <ul class="navbar_items">
        <% if user_signed_in? %>
          <li class="navbar_item books"><%= link_to t('views.common.title_index', name: Book.model_name.human), books_path, class: 'navbar_link' %></li>
          <li class="navbar_item new_book"><%= link_to t('views.common.title_new', name: Book.model_name.human), new_book_path, class: 'navbar_link' %></li>
          <li class="navbar_item reports"><%= link_to t('views.common.title_index', name: Report.model_name.human), reports_path, class: 'navbar_link' %></li>
          <li class="navbar_item new_report"><%= link_to t('views.common.title_new', name: Report.model_name.human), new_report_path, class: 'navbar_link' %></li>
          <li class="navbar_item dummy"><a class="navbar_link"></a></li>
          <li class="navbar_item users"><%= link_to t('views.common.title_index', name: User.model_name.human), users_path, class: 'navbar_link' %></li>
          <li class="navbar_item email"><%= link_to current_user.email, current_user, class: 'navbar_link' %></li>
          <li class="navbar_item logout"><%= link_to t('views.users.logout'), destroy_user_session_path, method: :delete, class: 'navbar_link'  %></li>
        <% end %>
      </ul>

      <%= yield %>
    </div>
  </body>
</html>
